.App {
    text-align: center;
}
.App-header {
    background-color: rgb(188, 238, 231);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(11, 92, 61);
}

.App-link {
    color: #61dafb;
}

.Poke-logo {
    height: 20vmin;
    pointer-events: none;
}

.Poke-container {
    flex-direction: row;
    min-height: 40vmin;
    min-width: fit-content;
    display: flex;
    align-items: center;
}

@keyframes poke-select {
    from {
        top: 40px;
    }
    to {
        top: -40px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .Poke-logo:hover {
    animation: poke-select infinite 5s linear;
    border-style:double;
    border-color: white;
    border-width: 10px;
    border-radius: 58%;
    }
}