.nav-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 50vmin;
    background-color: rgb(120, 180, 162);
}

.nav-image {
    height: 25vmin;
    width: 25vmin;
    margin: 5vmin;
    object-fit: contain;
}

.nav-image > a:hover {
    border-color: white;
}