@keyframes Pokeball-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .nav-image:hover {
    animation: Pokeball-spin infinite 8s linear;
    border-style:double;
    border-color: white;
    border-width: 10px;
    border-radius: 58%;
    }
}

.nav-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.nav-image {
    height: 180px;
    width: 180px;
    margin-right: 50px;
    margin-left: 50px;
    object-fit: contain;
}

.nav-text {
    font-size: 20px;
    text-decoration-line: none;
    color: white;
}